body {
  font-family: "Times New Roman", sans-serif;
  font-weight: 900;
  font-size: 105%;
  background-size: cover;
  animation-name: background-image-rotate;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  background-attachment: fixed;
}

#top-box {
  display: flex;
  transform: translate(-50px, 60px) scale(1);
  flex-direction: row;
  justify-content: flex-end;
  gap: 5%;
}

#heading {
  transform: scale(2) translate(3%, 50%);
}

nav {
  top: 0;
  overflow: hidden;
  position: fixed;
  width: 100%;
}

.top-each-box {
  text-align: center;
  font-size: 1.3em;
  width: 7%;
}

header {
  overflow: hidden;
  display: flex;
  gap: 10%;
  background-color: white;
  opacity: 0.8;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

h1 {
  text-align: center;
}

img {
  margin: auto auto;
  justify-content: center;
  display: block;
}

a {
  color: black;
}

a:link {
  text-decoration: none;
}

@keyframes background-image-rotate {
  0% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.70),
        rgba(0, 0, 0, 0.6)), url("images/boat.jpg");
  }

  25% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.70),
        rgba(0, 0, 0, 0.6)), url("images/boat2.jpg");
  }

  50% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.70),
       rgba(0, 0, 0, 0.6)),url("images/boat3.jpeg");
  }

  75% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.70),
        rgba(0, 0, 0, 0.6)), url("images/kadhakali.jpeg");
  }

  100% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.70),
        rgba(0, 0, 0, 0.6)), url("images/lighthouse.jpg");
  }
}

#galleryImgBox {
  background-color: red;
  color: white;
  width: auto;
  height: auto;
  margin: auto auto;
  border-radius: 3%;
  padding: 1% 1% 1% 1%;
}